# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore JetBrains DataSpell configuration directories
.idea/

# Ignore Mac OS filesystem metadata
.DS_Store

# Ignore Python virtual environments
**/env/
**/venv/
**/python/
lambda-ct-pipeline/venv/*
